---
import Layout from "../layout/Layout.astro";
import Carousel from "../components/Carousel.astro";
import Countdown from "../components/Countdown.astro";
---

<Layout>
  <Carousel />
  <Countdown />
  <div class="bg-[url('/bgYel.png')] h-[80vh]">
    Test
  </div>
  <div class="bg-[url('/bgYel.png')] h-[80vh]">
    Test
  </div>
</Layout>
