<nav
    class=" h-[20vh] top-0 py-2 z-50 gap-6 flex flex-col items-center shadow-sm justify-center w-screen text-[#b27000] bg-[#feffdc] p-4"
>
    <div id="title" class="text-5xl font-light">Sansta & José Alejandro</div>
    <div class="flex gap-6 text-xl font-light">
        <a href="/registry">Registry</a>
        <a href="/dress-code">Dress Code</a>
        <a href="/schedule">Schedule</a>
        <a href="/RSVP">RSVP</a>
        <a href="/FAqs">FAqs</a>
    </div>
</nav>

<style>
    #title {
        font-family: "Merriweather", sans-serif;
    }
</style>